body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

input {
    margin-top: 5px;
}

button {
    margin-top: 10px;
}

#transactionResult {
    margin-top: 10px;
    color: green;
}
